
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

 body {
    position: relative;
    margin: 0 auto;
    min-height: 100%;
    background-image: url(images/paw-tile.jpg);
    background-repeat: repeat;
    font-family: 'Roboto', sans-serif;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}



article,
aside {
  flex-basis: 100%;
}
@media screen and (min-width: 800px) {
  aside {
    flex: 2.5;
  }
  article {
    flex: 7.5;
  }
}

/* Main-wrapper contains the site content, using a 1200px width*/
.main-wrapper {
    width: 1200px;
    max-width: 100%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    clear: both;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 2px solid rgba(138, 188, 255, 0.2);
    border-right: 2px solid rgba(138, 188, 255, 0.2);
}

#location-row {
    padding-bottom: 30px;
}

.main-wrapper h1{
    font-size: 2rem;
    text-align: left;
    color: #2a5689;
}

.main-wrapper h2{
    text-align: left;
    color: #2a5689;
}

.main-wrapper h3{
    text-align: left;
    color: #2a5689;
}

.services-column-right h3 {
    color: white;
    text-align: center;
}

.main-wrapper h4{
    text-align: left;
    color: #2a5689;
}


/* Flex grid */
.row {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}


.column {
    flex-basis: 100%;
    height: auto;
    text-align: left;
    padding: 10px;
}

/* Flex grid additional styles */
.services-row {
    text-align: left;
    height: auto;
    background-color: #cce7ff;
    border-radius: 20px;
    margin-bottom: 20px;

}
.services-left-column-1 {
    background-image: url(images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 0px 0px 20px;
    height: 300px;
    
}

.services-left-column-2 {
    background-image: url(images/2.jpeg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    border-radius: 20px 0px 0px 20px;
    height: 300px;
}

.services-left-column-3 {
    background-image: url(images/ss5.jpeg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    border-radius: 20px 0 0 20px;
    height: 300px;
}

.services-left-column-4 {
    background-image: url(images/ss4.jpeg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    border-radius: 20px 0 0 20px;
    height: 300px;
}



.services-column-right {
    background-color: #2a5689;
    border-radius: 0 20px 20px 0;
    text-align: center;
    font-size: 2rem;
    color: white;
}

.services-column-center {
    color: black;
    font-size: 16pt;
    text-align: left;
    flex: auto;
    align-items: center;
    padding-left: 20px;
}

.about-us-column {
    text-align: center;
}




@media screen and (min-width: 800px) {.column {flex: 1;}}

/* */


.doggie-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(images/doggie-hero-image.jpeg);
    height: 700px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items: center;  
    overflow: auto;
    
}
.responsive-logo {
    max-height: 100%;
    max-width:  100%;

}

.navigation-bar {
    width: 100%;
    overflow: auto;
    background-color: rgb(97, 137, 183);
    z-index: 9999999;
    box-shadow: 0 15px 0px 5px #000;
}


.desktop-navigation {
    float: right;
}

#mobile-navigation {
    display: none;
}

#hamburger-icon {
    display: none;
}

.desktop-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop-navigation li {
    float: left;
    padding: 20px;  
    color: white;
}

.desktop-navigation li:hover {
    text-decoration: underline;
}

.desktop-navigation a {
    color: white;
}


.responsive {
    width: 100%;
    height: auto;
}

#mobileoffer {
    display: none;
}


.about-us-column p {
    text-align: left
}

.gototop {
    color: white;
}

input[type=text] {
    padding: 5px 15px;
    margin: 5px 0;
    box-sizing: border-box;
    background-color: #fafafa;
    border-radius: 20px;
    color: #0f47de;
}

input[type=text]:focus {
  background-color: #f0f5ff;
}

textarea {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    resize: none;
    background-color: #fafafa;
    border-radius: 20px;
    color: #0f47de;
    height: 200px;
    width: 500px;
}

textarea:focus {
    background-color: #f0f5ff;
}



input[type=submit] {
     background-color: #2a5689;
     border: none;
     color: white;
     padding: 16px 32px;
     text-decoration: none;
     margin: 4px 2px;
     cursor: pointer;
    border-radius: 20px;
}

input[type=submit]:hover {
    background-color: #254c79;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#gototop {
    color: #2a5689;
    text-align: center;
}

#gototopa {
    text-align: center;
    text-decoration: none;
    text-underline-position: below;
}

#gototopa:hover {
    color: #254c79;
    text-decoration: underline;
}

#gototopa:focus {
    color: #254c79;
    text-decoration: underline;
}

.home-gallery {
    border-radius: 20px;
    padding: 10px;
}

@media only screen and (min-width: 700px) {
    #mobile-navigation {display: none!important;}    
}

@media only screen and (max-width: 700px) {
    
    /*universal*/
    .doggie-hero {height: 300px;}


    .services-left-column-1 {height: 200px; border-radius: 20px 20px 0px 0px;}
    .services-left-column-2 {height: 200px; background-position: center; border-radius: 20px 20px 0px 0px;}
    .services-left-column-3 {height: 200px; background-position: center; border-radius: 20px 20px 0px 0px;}
    .services-left-column-4 {height: 200px; background-position: center; border-radius: 20px 20px 0px 0px;}
    .services-column-center h2 {font-size: 1.5rem;}
    .services-column-center p {font-size: 1rem;}
    .services-column-right {border-radius: 0 0 20px 20px;}
    .services-column-right h3 {font-size: 1.5rem;}
    .services-column-right p {font-size: 1.5rem;}
    textarea {width: 100%; height: 150px;}
    #gototop {padding-bottom: 2rem;}

    
    /*navigation*/
   
    #desktopoffer {display: none;}
    #mobileoffer {display: block;}
    
    .navigation-bar {display: none;}
    .desktop-navigation {display: none;}
    #mobile-navigation {display: none; width: 100%;}
    #mobile-navigation ul {list-style: none; text-decoration: none; padding: 0; margin: 0;}
    #mobile-navigation li {text-align: center; line-height: 50px; background-color: #779ecb; color: white; border-bottom: 1px solid #6586ac}
    #mobile-navigation a {text-decoration: none;}
    #mobile-navigation li:visited {}
    #hamburger-icon {display: block; color: white; position: absolute; top: 0; left: 0; padding: 20px;}
    
    /*wrappers*/
    .main-wrapper {border-left: none; border-right: none; width: 100%;}
    .footer-content .column {text-align: center;}
    #contact {text-align: center;}

    
    /**/
    
    /**/
    
    
    
    
    
    
    
    
    
    
}













#index-image {
    border-radius: 20px;
}

#offer-banner {
    padding: 0;
}
